<app-esidebar-component></app-esidebar-component>

<div class="dashboard-header">
  <div class="left">
      <h2 class="title" style="position: relative; left: 90px; bottom: 5px;">Billing</h2>
  </div>
       <div class="profile">
  <div class="user-info">
      <strong>{{ userName ? userName : 'Guest' }}</strong>
      <span>ID: {{ userId ? userId : 'N/A' }}</span>
  </div>
  <img src="../../../..//public/image/user.png" alt="User Profile">

  <button class="logout-btn" (click)="logout()">Logout</button>
</div>
</div>

<div class="card-wrapper">
  <div class="card-container">
    <div class="image-container">
      <img src="../../../..//public/image/generate.png" alt="Bill Icon">
    </div>
    <div class="button-container">
      <button class="generate-button" (click)="openForm()">Generate Bill</button>
    </div>
  </div>

<div class="modal" *ngIf="isFormOpen">

  <div class="modal-content horizontal-form">
    <span class="close" (click)="closeForm()">&times;</span>
    <h2 class="form-title">Generate Bill</h2>

    <form [formGroup]="billForm">
      <div class="form-row">
        <label>Customer ID:</label>
        <input type="text" formControlName="customerId">
        <button type="button" (click)="fetchCustomerDetails()">Fetch Name</button>
      </div>

      <div class="form-row">
        <label>Customer Name:</label>
        <input type="text" formControlName="customerName" readonly>
      </div>

      <div class="form-row">
        <label>Units Consumed:</label>
        <input type="number" formControlName="unitConsumed">
      </div>

      <div class="form-row">
        <label>Bill Amount (₹):</label>
        <input type="text" formControlName="billAmount" readonly>
      </div>

      <div class="form-row">
        <label>Billing Start:</label>
        <input type="date" formControlName="billingStart">
      </div>

      <div class="form-row">
        <label>Billing End:</label>
        <input type="date" formControlName="billingEnd" readonly>
      </div>

      <div class="form-row">
        <label>Due Date:</label>
        <input type="date" formControlName="billDueDate" readonly>
      </div>

      <div class="form-actions">
        <button type="button" (click)="generateBill()">Confirm & Generate</button>
      </div>
    </form>
  </div>
</div>
