<app-esidebar-component></app-esidebar-component>
<div class="dashboard">
    <div class="left">
        <h2 class="title">Dashboard</h2>
    </div>
<div>
    <div class="center-title">
        <h1 class="main-title">Bharat Bijili Corporation</h1>
    </div>
</div>
         <div class="profile">
    <div class="user-info">
        <strong>{{ userName ? userName : 'Guest' }}</strong>
        <span>ID: {{ userId ? userId : 'N/A' }}</span>
    </div>
    <img src="../../../..//public/image/user.png" alt="User Profile">
    <button class="logout-btn" (click)="logout()">Logout</button>
</div>
</div>

<div class="latest-customers">
    <h3>Latest Customers</h3>
    <ul>
        <li *ngFor="let customer of latestCustomers">
            <strong>{{ customer.name }}</strong> ({{ customer.email }})
        </li>
    </ul>
</div>

<div class="main-content">
</div>

<div class="chart-container">
    <canvas #chartCanvas></canvas>
  </div>
  
  <div class="piechart-container">
    <canvas #pieChartCanvas></canvas> 
</div>

  



